
html{
    height: 100%;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

.chatroom-body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color:white;
    background-image: url("img/gettop.jpg");
    background-size: 70% 80%;
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.chat-body row{
    margin-bottom: 20px;
}


.whitespace {
    background-color: #FFFFFF;
    padding: 10px 60px;
}

hr {
    margin: auto;
}

.container-fluid {
    width: 100%;

}

.btn-danger {
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 10px 25px;
}

.pull-right {
    float: right;
}

.purple {
    background-color: #862d59;
    color: white;
}

.roz {
    background-color: #847ec7;
    color: white;
    font-size: 14px;
}

.green {
    color: limegreen;
}

.yellow {
    color: #EBCF00;
}

.grey {
    color: #BFB1A0;
}

.leave {
    float: right;
    background-color: #6fc582;
}

.purple:hover,
purple:focus {
    background-color: #525252;
    color: white;
}

.purple:active {
    color: white;
}

.alert {
    text-align: center;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

.spinicon {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 3em;
}

.btn-default {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 10px 25px;
}

.btn-info:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #FFFFFF;
    background-color: #6fc582;
    border-color: #6fc582;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: white;
}

.logout {
    font-size: 17px;
    background-color: #847ec7;
    color:white;
    margin-left: -10%;
    margin-top: 7%;
}
.logout:hover{
    color: white;
    background-color: #6fc582;
}

.logo {
    width: 50px;
    height: 50px;
    text-align: center;
}

.navbar-inverse {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    color: black;
    border-color: #ddd;

}

.navbar-default {
    background-color: #0081A7;
    border-radius: 0px;

    margin-bottom: 0px;
    border: 1px solid #ddd;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    background-color: #0081a7;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #0586ad;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #005e7a;
}

.navbar {
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
    float: left;
    padding: 8px;
    /*color: #999999;*/
}

.form-group {
    float: left;
    width: auto;
}

.btn-sm {
    float: right;
}

.exportbar {
    padding: 10px 30px 45px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #d2cece;
    border-radius: 3px;
}

.btn-sm {

    color: #ffffff;
    padding: 8px 15px;
}

.usersRoom {
    list-style: none;
}

.messages {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    padding: 2px;

}

.footer {
    position: absolute;
    width: 100%;
}

.footer input {
    width: 91%;
    max-height: 50px;
    height: 40px;
    font-size: 17px;
    color: black;
    padding-left: 2%;
}

ul li {
    list-style-type: none;
    margin-top: 0.5%;
}

.footer button {
    max-height: 50px;
    height: 50px;
}

.mov {
    background-color: #F5C2BC;
}

.buttonCreateRoom {
    margin-top: 3%;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}



.userList {
    min-height: 500px;
    max-height: 622px;
    background: linear-gradient(to bottom, #847ec7  10%, #ddd  150%);
    font-size: 17px;
    border-left: 1px solid #ddd;
    margin-right: 0;
}


.userList li {
    color: white;
}

.doNotDisplay {
    display: none;
}


.col-sm-height{
    background: white;
    height:622px;
    border-right:1px solid #ddd;
    min-height: 622px;
    /*margin-left: -18px;*/
}
.list-active-users{
    height: 600px;
}
.col-sm-9{
    background: white;
}

.roomNameDisplay{
    min-height: 545px;
    font-size: 17px;
}

.leave {
    margin-right: 4%;
    margin-bottom: 2%;
    font-size: 17px;
}
.btnLeave{
    margin-top: 2%;
    font-size: 17px;
}
#roomName{
    margin-top:2%;
    font-size: 17px;
    margin-right: -6%;
    color:black;
}
.avUser{
    margin-top: 2%;
    color: white;
    opacity: 1;
}

.list-group-item{
    border: none;
    border-bottom: 1px solid #ddd;
    color:black;
}

#newRoomGreen{
    width: 100%;
    background-color: #6fc582;
    color: white;
    font-size: 17px;
    margin-top: -5%;
}

.badge{
    background-color: #847ec7;
    color: white;
    margin-top: 1%;
    margin-right: 20%;
    float: none;
}
.list-group-item>.badge {
    float:none;
}

#btnSend{
    background-color: white;
    color: #847ec7;
}

.messages > li .sender .text-message.custom {
    background: linear-gradient(to left, #847ec7  10%, #ddd  200%);
    color:white;
    text-align: right;
    direction: ltr;
}

.intro{
    margin-top: 2%;
    font-size: 40px;
}

.imagine {
    position: relative;
    opacity: 0.5;
}

.imagine > img{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;

}

.pull-left{
    margin-top: 1%;
    margin-left: 0%;
}

img.emoji{
    width: 30px;
}

.textRoom{
    font-size: 21px;
}

/*FROM LOGIN */


/* Base styles */
*, *:after, *:before {
    box-sizing: border-box;
}
html {
    font-size: 100%;
    line-height: 1.5;
    height: 100%;
}

.login-container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100%;
    background: linear-gradient(to bottom, #847ec7  10%, #ddd  150%);
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}

/* Container */

/* Profile Card */
.profile {
    margin-top: 22%;
    margin-left: 42%;
    width: 280px;
}

.profile--open .profile__form {
    visibility: visible;
    height: auto;
    opacity: 1;
    transform: translateY(-6em);
    padding-top: 12em;
}
.profile--open .profile__fields {
    opacity: 1;
    visibility: visible;
}
.profile--open .profile__avatar {
    transform: translate(-50%, -1.5em);
    border-radius: 50%;
}
.profile__form {
    position: relative;
    /* background: #f0eced*/
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 3em;
    border-radius: .25em;
    -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
    transition:
            opacity .4s ease-in-out,
            height .4s ease-in-out,
            transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
            padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.profile__fields {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__avatar {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.25em;
    overflow: hidden;
    width: 4.5em;
    height: 4.5em;
    display: block;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: transform;
}
.profile__avatar:focus {
    outline: 0;
}
.profile__footer {
    padding-top: 1em;
}


/* Form */
.field {
    position: relative;
    margin-bottom: 2em;
}
.label {
    font-weight: normal;
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    bottom: 0;
    color: white;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 20px;
}
.login-input  {
    width: 100%;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #eee;
    color: white;
    transition: all .2s ease-in;
    font:25px 'Garamond';
}
.login-input:focus {
    outline: 0;
    border-color: #ccc;
}

/* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
.login-input:focus + .label,
login-input:valid + .label {
    transform: translateY(-100%);
    font-size: 0.75rem;
    color: #ccc;
}


.btnbtn {
    border: 0;
    font-size: 0.75rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.5rem;
    color: white;
    background: #6fc582;
    text-transform: uppercase;
    border-radius: .25rem;
    letter-spacing: .2em;
    transition: background .2s;
    font-family: 'Source Sans Pro', sans-serif;
}
.btnbtn:focus {
    outline: 0;
}
.btnbtn:hover,
.btnbtn:focus {
    background:white;
    color: black;
}

#roomImages{
    list-style-type: none;
}
#roomImages li{
    display: inline;
}
#roomImages li img{
    width:10%;
    height:10%;
}

@keyframes intro {
    from {
        opacity: 0;
        top: 0;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

@media screen and (min-width:320px) and (max-width: 800px) {

    .roomNameDisplay {

        width: 160%;
        margin-left: -20px;

    }

    .col-sm-height {
        padding: 30px;
        border-right: none;

    }

    .pull-left.white.logo {
        margin-top: 32px;
    }

    #newRoomGreen {
        margin-bottom: 68px;
        width: 200px;
        margin-left: -50px;

    }

    #roomName {
        text-align: center;
    }

    .logout {
        margin-top: 25px;
    }

    h4.intro.ng-binding {
        margin-top: 10%;
    }
}