body {
    font-family: 'Garamond', sans-serif;
    font-weight: bold;
    background-color:white;
    background-image: url("components/chat/img/gettop.jpg");
     background-size: 75% 83%;
    background-repeat: no-repeat;
    background-position: right bottom;
    
    
}

.whitespace {
    background-color: #FFFFFF;
    padding: 10px 60px;
}

hr {
    margin: auto;
}

.container-fluid {
    width: 100%;
}

.btn-danger {
    float: right;
    font-family: 'Garamond', sans-serif;
    font-weight: bold;
    padding: 10px 25px;
}

.pull-right {
    float: right;
}

.purple {
    background-color: #862d59;
    color: white;
}

.roz {
    background-color: #847ec7;
    color: white;
    font-size: 14px;
}

.green {
    color: limegreen;
}

.yellow {
    color: #EBCF00;
}

.grey {
    color: #BFB1A0;
}

.leave {
    float: right;
    background-color: #6fc582;
}

.purple:hover,
purple:focus {
    background-color: #525252;
    color: white;
}

.purple:active {
    color: white;
}

.alert {
    text-align: center;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

.spinicon {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 3em;
}

.btn-default {
    font-family: 'Garamond', sans-serif;
    font-weight: bold;
    padding: 10px 25px;
}

.btn-info:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #FFFFFF;
    background-color: #eee;
    border-color: #eee;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: white;
}

.logout {
    font-size: 17px;
    background-color: #847ec7;
    color:white;
    margin-left: -10%;
    margin-top: 10%;
  }
.logout:hover{
    color: white;
    background-color: #6fc582;
}

.logo {
    width: 12%;
    height: 12%;
    text-align: center;
   margin: 3%;
}

.navbar-inverse {
    font-family: 'Garamond';
    background-color: white;
    color: black;
    border-color: #ddd;
}

.navbar-default {
    background-color: #0081A7;
    border-radius: 0px;
    background-color: #0081a7;
 
    margin-bottom: 0px;
    border: 1px solid #ddd;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    background-color: #0081a7;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #0586ad;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #005e7a;
}

.navbar {
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
    float: left;
    padding: 8px;
    /*color: #999999;*/
}

.form-group {
    float: left;
    width: auto;
}

.btn-sm {
    float: right;
}

.exportbar {
    padding: 10px 30px 45px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #d2cece;
    border-radius: 3px;
}

.btn-sm {
  
    color: #ffffff;
    padding: 8px 15px;
}

.usersRoom {
    list-style: none;
}

.messages {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    padding: 2px;

}

.footer {
    position: absolute;
    width: 100%;
}

.footer input {
    width: 93%;
    max-height: 50px;
    height: 40px;
    font-size: 17px;
}

ul li {
    list-style-type: none;
    margin-top: 0.5%;
}

.footer button {
    max-height: 50px;
    height: 50px;
}

.mov {
    background-color: #F5C2BC;
}

.buttonCreateRoom {
    margin-top: 3%;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}



.userList {
    min-height: 500px;
    max-height: 622px;
    background: linear-gradient(to bottom, #847ec7  10%, #ddd  150%);
    font-size: 17px;
    border-left: 1px solid #ddd;
    margin-right: 0;
}


.userList li {
    color: white;
}

.doNotDisplay {
    display: none;
}


.col-sm-height{
    background: white;
    height:622px;
    border-right:1px solid #ddd;
    min-height: 622px;
    /*margin-left: -18px;*/
}
.list-active-users{
    height: 600px;
}
.col-sm-9{
    background: white;
}

.roomNameDisplay{
   min-height: 545px;
   font-size: 17px;
}

.leave {
    margin-right: 4%;
    margin-bottom: 2%;
    font-size: 17px;
}
.btnLeave{
    margin-top: 2%;
    font-size: 17px;
}
#roomName{
    margin-top:2%;
    font-size: 17px;
}
.avUser{
    margin-top: 2%;
    color: white;
    opacity: 1;
}

.list-group-item{
  
    border: none;
      border-bottom: 1px solid #ddd;
      
}

#newRoomGreen{
    width: 100%;
    background-color: #6fc582;
    color: white;
    font-size: 17px;
}

.badge{
    background-color: #847ec7;
    color: white;
}

#btnSend{
    background-color: white;
    color: #847ec7;
}

.messages > li .sender .text-message.custom {
    background: linear-gradient(to left, #847ec7  10%, #ddd  200%);
    color:white;
}

.intro{
   margin-top: 4.2%;
   font-size: 40px;
}

.imagine {
    position: relative;
    opacity: 0.5;
}

.imagine > img{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
 
}