body {
    font-family: 'Garamond', sans-serif;
    font-weight: bold;
    background-color: #F7F7F7;
}

.whitespace {
    background-color: #FFFFFF;
    padding: 10px 60px;
}

hr {
    margin: auto;
}

.container-fluid {
    width: 100%;
}

.btn-danger {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 10px 25px;
}

.pull-right {
    float: right;
}

.purple {
    background-color: #862d59;
    color: white;
}

.roz {
    background-color: #F5C2BC;
}

.green {
    color: limegreen;
}

.yellow {
    color: #EBCF00;
}

.grey {
    color: #BFB1A0;
}

.white {
    color: white;
}

.leave {
    float: right;
}

.purple:hover,
purple:focus {
    background-color: #525252;
    color: white;
}

.purple:active {
    color: white;
}

.alert {
    text-align: center;
}

thead {
    color: #999999;
    background-color: #EDEDED;
}

.table th {
    text-align: center;
}

.table td {
    color: #999999;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

.spinicon {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 3em;
}

.btn-default {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 10px 25px;
}

.btn-info:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #FFFFFF;
    background-color: #525252;
    border-color: #525252;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: white;
}

.navbar {
    margin: 0!important;
    padding: 0!important;
}


/*
li:first-child> a::before {
    font-family: FontAwesome;
    content: "\f007";
    position: absolute;
    top: 0px;
    right: 0px;
}
li:first-child> a {
    position: relative;
    padding-left: 15px;
}
*/

.logout {
    font-size: 80%;
    margin-top: 5%;
}

.logout:hover {
    background-color: #F5C2BC;
}

.logo {
    width: 12%;
    height: 12%;
    text-align: center;
    margin-right: 3%;
    margin-top: 3%;
}

.pull-right {
    margin-right: 1.5%;
}

.navbar-inverse {
    font-family: 'Josefin Sans';
    background-color: #862d59;
}

.navbar-default {
    background-color: #0081A7;
    border-radius: 0px;
    background-color: #0081a7;
    border-bottom-width: 1px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    background-color: #0081a7;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #0586ad;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #005e7a;
}

.navbar {
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
    float: left;
    padding: 8px;
    color: #999999;
}

.form-group {
    float: left;
    width: auto;
}

.btn-sm {
    float: right;
}

.exportbar {
    padding: 10px 30px 45px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #d2cece;
    border-radius: 3px;
}

.btn-sm {
    background-color: #525252;
    color: #ffffff;
    padding: 8px 15px;
}

.usersRoom {
    list-style: none;
}

.divMesaje {
    margin: 1.5%;
}

.messages {
    /*border: 1px solid #ddd;
    overflow-y: auto;
    min-height: 500px;
    max-height: 500px;*/
    border: 1px solid #ddd;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 500px;
    max-height: 500px;
    max-width: 100%;
    min-width: 150px;
    padding: 2px;
    margin: 3px;
}

.footer {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}

.footer input {
    width: 91%;
    max-height: 50px;
    height: 50px;
    margin-top: 1%;
}

ul li {
    list-style-type: none;
    margin-top: 0.5%;
}

.footer button {
    max-height: 50px;
    height: 50px;
}

.mov {
    background-color: #F5C2BC;
}

.buttonCreateRoom {
    margin-top: 3%;
}


/* Scroll bar**/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.row {
    margin-top: 2%;
}

.userList {
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
}

.doNotDisplay {
    display: none;
}