
<div class="container-fluid">
    <button type="button" class="btn purple " data-toggle="modal" data-target="#myModal">
  create new room <i class="fa fa-plus" aria-hidden="true"></i>
</button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content container-fluid">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enter Room Name</h4>
        </div>
        <div class="modal-body">
          <input type="text" place-holder="room name" ng-model="roomNameCreate" required/>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="writeRoomData()" class="btn btn-default" data-dismiss="modal">Create</button>
        </div>
    </div>
</div>
<!--<div ng-controller="ChatController">
  <div ng-show="alert.show">
    <alert type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
  <button class='btn' ng-click="addAlert()">Add Alert</button>
</div>-->