<!--<div class="container">
    <div class="row">
        <div role="alert">
            <span class="error" ng-show="loginError">
                Username Required!</span>
        </div>
        <div class="login">
            <form class="form-inline" name="loginForm">
                <div class="form-group">
                    <input type="text" name="username" ng-model="username" class="form-control" placeholder="Username" required/>
                </div>
            </form>
            <button class="btn btn-md purple" ng-click="login(username)"> <i class="fa fa-sign-in" aria-hidden="true"></i> Log in</button>
    </div>
</div>-->



<div class="container-fluid login-container">

  <div class="profile">
    <!--<button class="profile__avatar" id="toggleProfile">
     <img src="delasusan.ico"> 
    </button>-->
    <!--<div class="profile__form">
      <div class="profile__fields">-->
        <div class="field">
          <input type="text" id="fieldUser" class="login-input"  onkeydown="if(event.keyCode == 13) document.getElementById('btnLogin').click();" ng-model="username" required pattern=.*\S.* />
          <label for="fieldUser" class="label">Username</label>
        </div>
		
    
        <div class="profile__footer">
               <button class="btnbtn" id="btnLogin" ng-click="login(username)"> Login</button>
            <div class="fb-root"> <button class="btn btn-block btn-lg btn-social btn-facebook" ng-click="fblogin(uid)"><i class="fa fa-facebook"></i>Facebook Login</button></div>
            
       <div class="github-root">
                 <button class="btn btn-block btn-lig btn-social btn-github" id="btnLogin" ng-click="githublogin(uid)"><i class="fa fa-github"></i> GitHub</button>
                 </div>
        </div>
		
      </div>
     </div>
  </div>
</div>
  

<!--<script>
    document.getElementById('toggleProfile').addEventListener('click', function () {
  [].map.call(document.querySelectorAll('.profile'), function(el) {
    el.classList.toggle('profile--open');
  });
});
</script>-->