<div class="container-fluid login-container">

    <div class="facebook">
        <a  ng-click="fblogin(uid)"><span class="hb hb-md hb-custom"><i class="fa fa-facebook"></i></span></a>
    </div>
    <div class="github">
        <a  ng-click="githublogin(uid)"><span class="hb hb-md hb-custom"><i class="fa fa-github"></i></span></a>
    </div>


</div>

<script>
    jQuery(function(){
        jQuery(".hb-lg").parent().addClass("hb-lg-margin");
        jQuery(".hb-md").parent().addClass("hb-md-margin");
        jQuery(".hb-sm").parent().addClass("hb-sm-margin");
        jQuery(".hb-xs").parent().addClass("hb-xs-margin");
    })

    jQuery(function(){
        //Facebook
        jQuery( ".hb .fa-facebook,.hb .fa-facebook-square").parent().addClass("hb-facebook");
        jQuery( ".hb.inv .fa-facebook,.hb.inv .fa-facebook-square").parent().addClass("hb-facebook-inv").removeClass("hb-facebook");



        //Github
        jQuery( ".hb .fa-github,.hb .fa-github-square, .hb .fa-github-alt").parent().addClass("hb-github");
        jQuery( ".hb.inv .fa-github,.hb.inv .fa-github-square, .hb.inv .fa-github-alt").parent().addClass("hb-github-inv").removeClass("hb-github");



    });

</script>