<div class="row" ngIf={{room}}>
    <btn class="btn btn-warning" ng-click="leaveRoom(loggedUsername)">Leave Room</btn>
    <!--CHAT MESSAGES-->
    <div class="col-sm-8">
        <div>
            Messages from {{room}} Room
        </div>

        <ul class="messages" schroll-bottom="messages">
            <li ng-repeat="message in messages">
                <div class="sender">
                    <div class="sender-message"><span class="white">{{message.sender}}</span></div>
                    <div class="text-message">{{message.text}}</div>
                </div>
            </li>
        </ul>

        <div class="footer">
            <input type="text" ng-model="message.text" id="txtSend" onkeydown="if(event.keyCode == 13) {document.getElementById('btnSend').click(); $('#txtSend').val('')}" />
            <button class="btn purple" ng-click="sendMessage(message.text); message.text = null" id="btnSend"><i class="fa fa-send" aria-hidden="true"></i></button>
        </div>
    </div>

    <div class="col-sm-2">

    </div>

    <!--USERS FROM ROOM-->
    <div class="col-sm-2">
        <div ng-if="roomUsers.length>1"> {{roomUsers.length}} available users in {{room}}:</div>
        <div ng-if="roomUsers.length=1"> {{roomUsers.length}} available user in {{room}}:</div>
      
        <ul class="list-active-users">
            <li ng-repeat="activeuser in roomUsers track by $index">
                <i class="fa fa-chevron-circle-down green" aria-hidden="true"></i> {{activeuser}}
            </li>
        </ul>

    </div>
</div>