<div class="row" ngIf={{room}}>

    <!--CHAT MESSAGES-->
    <div class="col-sm-10">
        <div>
            Messages from {{room}} Room
        </div>

        <ul class="messages">
            <li ng-repeat="message in messages">
                <div class="sender">
                    <div class="sender-message"><span ng-style="myColorStyle">{{message.sender}}</span></div>
                    <div class="text-message">{{message.text}}</div>
                </div>
            </li>
        </ul>

        <div class="footer">
            <input type="text" ng-model="message.text" id="txtSend" onkeydown="if(event.keyCode == 13) {document.getElementById('btnSend').click(); $('#txtSend').val('')}" />
            <button class="btn mov" ng-click="sendMessage(message.text); message.text = null" id="btnSend">Send</button>
        </div>
    </div>

    <!--USERS FROM ROOM-->
    <div class="col-sm-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Users</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activeuser in roomUsers track by $index">
                    <td>
                        {{activeuser}}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>