.messages {
    list-style: none;
}


.messages > li {
    margin: 0px 10px 10px 20px;
}

.messages > li .sender{
    color: black;
    width: auto;
    clear:right;
    text-align: center;
}

.messages > li .sender .sender-message {
    /*background: #862D59;*/
    text-align: center;
    width: 100px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.messages > li .sender .text-message {
    position:relative;
    padding:15px;
    margin: 20px;
    color:#333;
    background:#eee;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    width: 600px;
    font-size: 17px;
    text-align: left;
    margin-top: 17px;
    margin-left: 10px;

}

.messages > li .sender .sender-message {
    position: relative;
    top:19px;
    left:35px;
    right: 35px;
    border:15px solid transparent;
    border-bottom-color:#eee;
    display:block;
}

.sender-photoUrl .sender-message img{
    position: relative;
    top:19px;
    left:35px;
    right: 35px;
    width:40px;
    height: 40px;
}

div.sender-message{
    margin-top: -40px;
}

.messages .sender .sender-photoURL img{
    width: 40px;
    height: 40px;
    position: relative;
    top:45px;
    left:80px;
    right: 35px;
}

.messages .floatright .sender-photoURL img{
    width: 40px;
    height: 40px;
    position: relative;
    top: 45px;
    left: 80px;
    right: 70px;
}

.messages .roomBotImg .sender-photoURL img{
    width: 40px;
    height: 40px;
    position: relative;
    top: 25px;
    left: 80px;
    right: 70px;
}

.messages > li .floatright .sender-message{
    position: relative;
    left:35px;
    right: 35px;
    border:15px solid transparent;
    border-bottom-color:#847ec7;
    display:block;
    /*width:0;*/

}


.floatright .sender-message .sender-photoURL img{
    width: 40px;
    height: 40px;
}

.roomNameDisplay {
    max-height: 530px;
    overflow: auto;
}

span.white{
    color:black;
    font-size: 18px;
}

.floatright{
    direction: rtl;
    float:right;
    clear:right;
}

.floatright  > li .sender .text-message{
    float:right;
    /*padding-right:10px;*/
    min-width: 50px;
    width: 95%;
    position:relative;
    color:#333;
    background:#eee;

-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.floatright .text-message a img.youtube-img{
    width: 300px;
    height: 200px;
}

.floatright .text-message a img.link-img{
    width: 40%;
    height: 40%;
}

.sender .text-message a img.youtube-img{
    width: 300px;
    height: 200px;
}

.sender .text-message a img.link-img{
    width: 40%;
    height: 40%;
}

.modal-content{
    text-align:center;
}
.modal-content .userPhotoURL img{
    width:80%;
}

.sender a{
    color: #847ec7;
    cursor: pointer;
}

.sender a:visited{
    color: #847ec7;
    cursor: pointer;
}

.sender a:hover{
    color: #6fc582;
    cursor: pointer;
}

.sender a:active{
    color: #847ec7;
}

.floatright a{
    color: white;
    cursor: pointer;
}

.floatright a:visited{
    color: white;
    cursor: pointer;
}

.floatright a:hover{
    color: #6fc582;
    cursor: pointer;
}

.floatright a:active{
    color: white;
}

.list-active-users a{
    text-decoration: none;
    color: white;
}

.list-active-users a:link{
    text-decoration: none;
    color: white;
}
.list-active-users a:visited{
    text-decoration: none;
    color: white;
}
.list-active-users a:hover{
    text-decoration: none;
    color: #6fc582;
    cursor: pointer;
}
.list-active-users a:active{
    text-decoration: none;
    color: white;
}

