.messages {
    list-style: none;
}


.messages > li {
    margin: 0px 10px 10px 20px;
}

.messages > li .sender{
    color: black;
    width: auto;
    clear:right;
    text-align: center;
}

.messages > li .sender .sender-message {
    /*background: #862D59;*/
    text-align: center;
    width: 100px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.messages > li .sender .text-message {
    position:relative;
    padding:15px;
    margin: 20px;
    color:#333;
    background:#eee;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    width: 600px;
    font-size: 17px;
    text-align: left;
    margin-top: 17px;
    margin-left: 10px;

}

.messages > li .sender .sender-message {
    position: relative;
    top:19px;
    left:35px;
    right: 35px;
    border:15px solid transparent;
    border-bottom-color:#eee;
    display:block;
    /*width:0;*/
}

div.sender-message{
    margin-top: -40px;
}

.messages .sender .sender-photoURL img{
    width: 40px;
    height: 40px;
    position: relative;
    top:45px;
    left:80px;
    right: 35px;
}

.messages .floatright .sender-photoURL img{
    width: 40px;
    height: 40px;
    position: relative;
    top: 45px;
    left: 80px;
    right: 70px;
}

.messages .roomBotImg .sender-photoURL img{
    width: 40px;
    height: 40px;
    position: relative;
    top: 25px;
    left: 80px;
    right: 70px;
}

.messages > li .floatright .sender-message{
    position: relative;
    left:35px;
    right: 35px;
    border:15px solid transparent;
    border-bottom-color:#847ec7;
    display:block;
    /*width:0;*/

}

.roomNameDisplay {
    max-height: 530px;
    overflow: auto;
}

span.white{
    color:black;
    font-size: 18px;
}

.floatright{
    direction: rtl;
    float:right;
    clear:right;
}

.floatright  > li .sender .text-message{
    float:right;
    /*padding-right:10px;*/
    min-width: 50px;
    width: 95%;
    position:relative;
    color:#333;
    background:#eee;
/ css3 /
-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;



}