
<div class="divMesaje" ng-controller="ChatRoomController">
<div>
    Messages from {{room}}
</div>

<div class="messages" schroll-bottom="messages">
<ul>
    <li ng-repeat="message in messages">
      {{message.sender}} said {{message.text}}
    </li>
</ul>
</div>

<div class="footer" ng-click="message.text =''">
    <input type="text" ng-model="message.text" placeholder="Send a message"/>
    <button class="btn purple" ng-click="sendMessage(message.text)"><i class="fa fa-send" aria-hidden="true"></i></button>
</div>

</div>

