.messages {
    list-style: none;
}


.messages > li {
    margin: 0px 10px 10px 20px;
}

.messages > li .sender{
    color: white;
  
    width: auto;
    max-width: auto;
     clear:right;
    margin: 0px 10px 10px 20px;
    padding-right: 20px;
    
}


.messages > li .sender .sender-message {
    
    background: #862D59;
    text-align: center;
    width: 100px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 4px;
  
}

.messages > li .sender .text-message {
    padding-left:10px;
    background: #f1f1f1;
    color:black;
    font-size: 16px;
    border-radius: 2%;
    border: solid 1px black;

}

.roomNameDisplay {
    max-height: 500px;
    overflow: auto;
}

.white{
    color: white;
}

.floatright{
    direction: rtl;
    float:right;
    clear:right;
    margin: 0px 10px 10px 20px;
    padding-right: 20px;

}

.floatright .text-message{
    padding-right:10px;
    min-width: 50px;
    width: 95%;
}